.card {
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(99, 9, 84);
    background: linear-gradient(90deg,rgb(97, 27, 76)0%,rgb(95, 14, 95)100%);
  }
  
    .card h1 {
      color: white;
    }
  
  label {
    color: white;
  }
  