.card {
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(112, 41, 85);
    background: linear-gradient(90deg,rgb(112, 41, 100)0%,rgb(61, 18, 63)100%);
  }
  
    .card h1 {
      color: white;
    }
  
  label {
    color: white;
  }
  