<h1 class="nav" style="background-color:rgb(12, 15, 167); color:antiquewhite">
   🇭‌🇴‌🇸‌🇵‌🇮‌🇹‌🇦‌🇱‌ 🇸‌🇪‌🇷‌🇻‌🇮‌🇨‌🇪‌🇸‌
  </h1>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/home">Log out</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/docter-info">Doctors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/patient-info">Patients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/booking-appointment">New Appointment</a>
    </li>
  </ul>
  
