.card {
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(122, 23, 122);
    background: linear-gradient(90deg,rgb(112, 41, 91)0%,rgb(63, 15, 53)100%);
  }
  
    .card h1 {
      color: white;
    }
  
  label {
    color: white;
  }
  