<h1 class="nav" style="background-color:rgb(57, 9, 134); color:antiquewhite">
     🇭‌🇴‌🇸‌🇵‌🇮‌🇹‌🇦‌🇱‌ 🇸‌🇪‌🇷‌🇻‌🇮‌🇨‌🇪‌🇸‌
  </h1>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/admin">Admin</a>
    </li>
  </ul>
  <div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://health.gov/sites/default/files/styles/topic_card_image/public/2020-01/regular-checkups_banner.jpg?itok=2HIjcA3h" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">About Hospital</h1>
            <p>As our clinicians and staff continue to selflessly work around the clock to provide 
              care to our patients, we have been overwhelmed by the support from family and friends, 
              neighbors and strangers, local businesses and organizations, schools, churches and 
              supporters from all walks of life who see Emerson as a vital member of the community</p>
            <a class="btn btn-primary"  routerLink="/patient-login">Book an Appointment</a>
        </div>
    </div>
